@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

* {
    /* font-family: "Roboto", sans-serif; */
    font-family: "Chakra Petch", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #041425;
    color: #f5f5f5;
}

button {
    cursor: pointer;
}

#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    padding-top: 9rem;
}

#header {
    width: 100%;
    height: 12rem;
}

#header img {
    height: 4rem;
}

#footer {
    width: 100%;
    height: 3rem;
}

#content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.light {
    color: hsl(210, 3%, 60%);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

#title {
    width: 80%;
}

#skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;
}

#projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;
}

.list {
    width: 90%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#projects .list-item {
    width: 17rem;
    height: 17rem;
}

.list-item {
    width: 16rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: hsla(211, 80%, 12%, 0.8);
    border: 1px solid #404a55;
    border-radius: 10px;
    padding: 0.5rem;
}

.list-item .item-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.list-item p {
    font-size: 1.2rem;
    color: hsl(210, 3%, 80%);
}

.list-item .item-images {
    width: 100%;
    flex: 1 0;
    display: flex;
    align-items: center;
}

.list-item .item-links {
    max-width: 100%;
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-links a {
    word-wrap: break-word;
    color: rgb(89, 180, 255);
}

.item-links a:visited {
    color: hsl(207, 100%, 45%);
}

.list-item .item-images img {
    height: 2rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
}

.text {
    width: 80%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
